# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# QQ
11566946/3
1281208053/3
85990243/3

# Gmail
qiaogaojian@gmail.com/4
etagamestudio#gmail.com/4

# Baidu
ETATech/3
乔高建/3
qiaogaojian/3
duomo寂寞/3
