#settings {
  z-index: 8000;
  position: fixed;
  text-indent: -99999px;
  width: 43px;
  display: block;
  background: url(./images/opciones.gif) no-repeat 0px 0px;
  height: 43px;
  top: 0px;
  cursor: pointer;
  right: 0px;
}
#settings:hover {
  background: url(./images/opciones.gif) no-repeat 0px -86px;
}
.cerrar {
  background: url(./images/opciones.gif) no-repeat 0px -43px !important;
}

.diy {
  z-index: 6000;
  visibility: hidden;
  height: 30px;
  line-height: 30px;
  margin-top: 0px;
  float: right;
  text-align: center;
  background-color: #e7e7e7;
  min-width: 100px;
  text-decoration: none;
  color: #999;
  padding: 0 0px;
  border: none;
  border-right: 1px solid #ccc;

  position: relative;
}

.diy:hover{
    text-decoration: none;
}